<h1><%= react_component("Hello", { name: @welcome_message }) %></h1>

<h2>Based_tree</h2>
<%= react_component("Tree", {values: @based_tree}) %>
<h2>Based_tree_balanced</h2>
<%= react_component("Tree", {values: @tree}) %>

<h2>Codemirror</h2>
<%= react_component("Editor") %>
