.side-bar, .side-bar-toggled{
  position: absolute;
  left: -280px;
  display: flex;
  width: 280px;
  height: 100%;
  z-index: 10;
  background-color: white;
  transition: 0.5s;
}

.side-bar-toggled{
  transform: translateX(+280px);
  transition: 0.5s;
}

.btn{
  position: absolute;
  left: 280px;
  width: 280px;
  z-index: 10;
  background-color: white;
}
